*{
    box-sizing: border-box;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.imgMuestra{
    
    height:100px;
    width: 90px;
    margin-top: 10px;
    display: flex;
}

.imgProductoPrincipal{
    height: 200px;
    width: 200px;
}

body{
    font-family: Arial;
    margin: 2%;
    background-image: url(/img/Fondo.png);
    border: 10px solid rgb(4, 11, 119);
    border-radius: 0.5em;
    font-size: 30px;
    
}


.SeccionMuestra{

    flex: 10%;
    font-family: Arial;
    height: auto;
    width: 100%;
    background-color: #87CEEB;
    padding: 20px;
    text-align: center;
}

.SecccionImagenPrincipal{
    flex: 20%;
    background-color: beige;
    padding: 20px;
    text-align: justify;
}

.SeccionCompras{
    flex: 50%;
    background-color: rgb(112, 112, 20);
    padding: 20px;
    text-align: justify;
}