<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
</head>
<body>
    
    <h1>Sitio Web</h1>
    <p>Grupo 8-4</p>
    <p><a href="/html/login.html">Mi Sitio Web</a></p>


</body>
</html>